<% provide :title, t("help") %>

<h1> <%= t ".page_header" %> </h1>

<p>
  <%= t ".ct_1" %> <%= link_to t(".ct_2"), t("railstutorial_help_url") %>
  <%= t ".ct_3" %> <%= link_to t(".ct_4"), t("railstutorial_book_url") %>
  <%= t ".ct_5" %>
</p>
