<%= form_for @micropost do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content %>
  </div>
  <%= f.submit t("create_btn"), class: "btn btn-primary" %>
  <span class="picture">
    <%= f.file_field :picture, accept: Settings.user_micropost_picture_types %>
  </span>
<% end %>
